pre {
	border: 1px dotted black;
	padding: 4px;
	margin-left: 20px;
	/* background-color: #EEEEEE; */
}

h2 {
	background-color: black;
	color: white;
	padding-left: 4px;
}

h3 {
	border-bottom: 1px solid black;
	padding-left: 4px;
}

p {
	text-indent: 10px;
}

code {
	font-style: italic;
}

strong {
	font-weight: normal;
	border:1px red solid;
}

img {
	border: 1px solid black;
}

div.note {
	border: 2px dotted gray;
	background-color: #EEEEEE;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
